* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1b3a4b;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #272640;
    padding-left: 10vw;
    padding-right: 10vw;
}

#logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #3e5f61;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    box-shadow: 5px 0px 5px 0px #554c55;
}

.imagenLogo {
    margin-top: 15px;
    width: 105px;
    height: 105px;
}

.nombre {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-family:'Roboto', sans-serif;  
    font-weight: 100 ;
    justify-content: center ;
    align-items: center ;
    color: #0e2b3a ;
    opacity: 50% ;
}

#secciones {
    padding-right: 10vw;
}

.seccion-a {
    font-family:'Roboto', sans-serif;
    font-weight: 100;
    font-size: 20px;
    padding: 10px;
    color: #b1b3a4b1;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 5px 1px 5px 1px rgba(200, 221, 241, 0500);
}